<section class="main">
    <section class="container">
        <article class="browse">
            <a href="/celebs">
                <h3>Browse celebs</h3>
            </a>
        </article>
        <article class="browse">
            <a href="/movies">
                <h3>Browse movies</h3>
            </a>
        </article>
    </section>
</section>