<section class="top">
    <h2>Add a celebrity</h2>
</section>
<section class="form">
    <form action="/celebs/create" method="post">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="occupation" placeholder="occupation">
        <input type="text" name="catchPhrase" placeholder="catch phrase">
        <button class="btn btn-blue">Create celebrity</button>
    </form>
</section>